 html, body{
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

header{
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: repeat(40, 1fr);
  grid-column-gap: 5px;
  padding-left: 15px;
  vertical-align: text-bottom;
}

.menu{
  overflow: auto;
}
.titleText{
  grid-column: 2/41;
}

.hButton{
  grid-column: 1/2;
}

@media screen and (min-width: 500px){
  #container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:  "t t t t t t t t t t"
                          "m m a a a a a a a a";
  }

  .menu{
    grid-area: m;
    background-color: #004d40;
    text-align: center;
  }

  .title{
    padding-top: 3px;
    font-size: 30px;
  }
}

@media screen and (max-width: 500px){
  #container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:  "t t t t t t t t t t"
                          "m m m m m m a a a a";
  }

  .menu{
    grid-area: m;
    background-color: #004d40;
    text-align: center;
  }

  .title{
    padding-top: 6px;
    font-size: 24px;
  }
}

.title{
  grid-area: t;
  min-height: 30px;
  background-color: #00251a;
}

.search-form{
  width:100%;
  padding-top: 5px;
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: repeat(11, 1fr);
  grid-column-gap: 5px:
}

#places-list{
  padding-top: 20px;
}

.place-item{
  padding-left: 10px;
  margin: 5px;
  cursor: pointer;
}

.place-search{
  width:100%;
  font-size: 18px;
  grid-column: 2/9;
}

.search-clear{
  grid-column: 10/11;
}

.selected{
  background-color: #39796b;
}

#map{
    grid-area: a;
    background-color: #39796b;
    color: black;
}

.foursquare-logo{
  width: 100%;
}
